#### How to import kaggle data sets to Python:

Source: [medium.com/@jeff.daniel77](https://medium.com/@jeff.daniel77/accessing-the-kaggle-com-api-with-jupyter-notebook-on-windows-d6f330bc6953)

In [5]:
pip install --user kaggle

Collecting kaggleNote: you may need to restart the kernel to use updated packages.
  Downloading kaggle-1.5.9.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\programfiles\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in c:\programfiles\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: python-dateutil in c:\programfiles\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in c:\programfiles\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: tqdm in c:\programfiles\lib\site-packages (from kaggle) (4.47.0)
Collecting python-slugify
  Downloading python-slugify-4.0.1.tar.gz (11 kB)
Collecting slugify
  Downloading slugify-0.0.1.tar.gz (1.2 kB)
Requirement already satisfied: urllib3 in c:\programfiles\lib\site-packages (from kaggle) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\programfiles\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programfiles\lib\site-packages (from requests->kaggle) (3.0.4)
Collecting text-unidecode>=1.3
  Using cached text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle, python-slugify, slugify
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.9-py3-none-any.whl size=73270 sha256=da6f063a80fb27e4c56e88ead54f9066939d23e0b40c9a67f95cc08113d08910
  Stored in directory: c:\users\fsalinas\appdata\local\pip\cache\wheels\ed\bd\77\e12cac6080de7e1185049bbfb87c7f250d74fd4f9389af0c9c
  Building wheel for python-slugify (setup.py): started
  Building wheel for python-slugify (setup.py): finished with status 'done'
  Created wheel for python-slugify: filename=python_slugify-4.0.1-py2.py3-none-any.whl size=6774 sha256=0c6a5163f2d2a91a5b6df5daee35fb7a5966acb36eeb31d4376b2167ee673f5a
  Stored in directory: c:\users\fsalinas\appdata\local\pip\cache\wheels\91\4d\4f\e740a68c215791688c46c4d6251770a570e8dfea91af1acb5c
  Building wheel for slugify (setup.py): started
  Building wheel for slugify (setup.py): finished with status 'done'
  Created wheel for slugify: filename=slugify-0.0.1-py3-none-any.whl size=1914 sha256=b95e3e82fdb1cedd1b43805d13c9f193b929d904421db367710da2429799bff3
  Stored in directory: c:\users\fsalinas\appdata\local\pip\cache\wheels\a2\49\ff\b5d3130b393f908f0faebf7b4069b259e97d23821826553a76
Successfully built kaggle python-slugify slugify
Installing collected packages: text-unidecode, python-slugify, slugify, kaggle
Successfully installed kaggle-1.5.9 python-slugify-4.0.1 slugify-0.0.1 text-unidecode-1.3

  WARNING: The script slugify.exe is installed in 'C:\Users\Fsalinas\AppData\Roaming\Python\Python38\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script kaggle.exe is installed in 'C:\Users\Fsalinas\AppData\Roaming\Python\Python38\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [7]:
import kaggle

ModuleNotFoundError: No module named 'kaggle'

In [8]:
!kaggle datasets download -d imdevskp/corona-virus-report

"kaggle" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

#### Unzip downloaded files

Source: [geeksforgeeks.org/working-zip-files-python](https://www.geeksforgeeks.org/working-zip-files-python/)

In [511]:
from zipfile import ZipFile
file_name = "corona-virus-report.zip"

with ZipFile(file_name, 'r') as zip: 
    zip.printdir() 
  
    print('Extracting all the files now...') 
    zip.extractall() 
    print('Done!')

File Name                                             Modified             Size
covid_19_clean_complete.csv                    2020-05-01 05:55:50      1202866
usa_county_wise.csv                            2020-05-01 05:55:50     36479869
Extracting all the files now...
Done!

In [10]:
mp = r'C:\Users\Fsalinas\Documents\GitHub\TDS_Tutorials'

In [11]:
import pandas as pd
df = pd.read_csv(mp + r'\covid_19_clean_complete.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.shape, '\n')
print(df.info(), '\n')
df.head(5)

FileNotFoundError: [Errno 2] File C:\Users\Fsalinas\Documents\GitHub\TDS_Tutorials\covid_19_clean_complete.csv does not exist: 'C:\\Users\\Fsalinas\\Documents\\GitHub\\TDS_Tutorials\\covid_19_clean_complete.csv'

In [12]:
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import ipywidgets as widgets
from ipywidgets import interact
%matplotlib inline

ModuleNotFoundError: No module named 'plotly'

In [517]:
@interact
def plot(country = opt):
    tdf = df.sort_values(by = 'Date').groupby(['Date', 'Country/Region'],as_index = False).agg(
        {'Confirmed':'sum', 'Deaths':'sum', 'Recovered':'sum'})
    
    fdf = tdf[tdf['Country/Region'] == country]
    x = fdf['Date'].tolist()
    y1 = fdf['Confirmed'].tolist()
    y2 = fdf['Deaths'].tolist()
    y3 = fdf['Recovered'].tolist()
    fig = go.Figure()
    
    fig.add_trace(go.Scatter(x = x, y = y1, mode='lines', name='Confirmed'))
    fig.add_trace(go.Scatter(x = x, y = y2, mode='lines', name='Deaths'))
    fig.add_trace(go.Scatter(x = x, y = y3, mode='lines', name='Recovered'))
    
    fig.show()

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Albania', 'Algeria', 'Andorra',…

In [165]:
df['Deaths_Rate'] = df['Deaths'] / df['Confirmed']
df['Recovered_Rate'] = df['Recovered'] / df['Confirmed']
dimcols = ['Country/Region', 'Date']
faccols = ['Confirmed', 'Deaths', 'Recovered', 'Deaths_Rate', 'Recovered_Rate']
dim = df[dimcols]
fac = df[faccols].fillna(0)

print('len df:', len(df))
print('len dim:', len(dim))
print('len fac:', len(fac))
print('len fac * 5:', len(fac)*5)

vertdf = pd.concat(
    [pd.concat([
        dim,
        pd.DataFrame({'Measure':[x]*len(df)}),
        fac[x].rename('Value')
    ], axis = 1) for x in faccols], axis = 0)

print('len vertdf:', len(vertdf))
print(vertdf.info())
vertdf.head(5)

len df: 26400
len dim: 26400
len fac: 26400
len fac * 5: 132000
len vertdf: 132000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 132000 entries, 0 to 26399
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country/Region  132000 non-null  object
 1   Date            132000 non-null  datetime64[ns]
 2   Measure         132000 non-null  object
 3   Value           132000 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 5.0+ MB
None

  Country/Region       Date    Measure  Value
0    Afghanistan 2020-01-22  Confirmed    0.0
1        Albania 2020-01-22  Confirmed    0.0
2        Algeria 2020-01-22  Confirmed    0.0
3        Andorra 2020-01-22  Confirmed    0.0
4         Angola 2020-01-22  Confirmed    0.0

In [280]:
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go

@interact
def plot(country = opt):
    fig = make_subplots(rows = 2, cols = 1, shared_xaxes = True)

    cdf = vertdf[vertdf['Country/Region'] == country]

    x = [pd.to_datetime(x).strftime('%d-%b') for x in list(cdf[cdf['Measure']=='Confirmed']['Date'].sort_values().unique())]
    y1 = cdf[cdf['Measure']=='Confirmed']['Value'].tolist()
    y2 = cdf[cdf['Measure']=='Deaths']['Value'].tolist()
    y3 = cdf[cdf['Measure']=='Recovered']['Value'].tolist()
    y4 = cdf[cdf['Measure']=='Deaths_Rate']['Value'].tolist()
    y5 = cdf[cdf['Measure']=='Recovered_Rate']['Value'].tolist()

    fig.add_trace(go.Scatter(x = x, y = y1, name = "# Confirmed", mode='lines', connectgaps=True), row = 1, col = 1)
    fig.add_trace(go.Scatter(x = x, y = y2, name = "# Deaths", mode='lines'), row = 1, col = 1)
    fig.add_trace(go.Scatter(x = x, y = y3, name = "# Recovered", mode='lines'), row = 1, col = 1)

    fig.add_trace(go.Scatter(x = x, y = y4, name = "Deaths_Rate", mode='lines'), row = 2, col = 1)
    fig.add_trace(go.Scatter(x = x, y = y5, name = "Recovered_Rate", mode='lines'), row = 2, col = 1)

    fig.update_layout(
        title="Covid-19 Analytisis by Country: {}".format(country),
        xaxis_title="Dates",
        yaxis_title="Values"
    )
    fig.show()

interactive(children=(Dropdown(description='country', options=('Afghanistan', 'Albania', 'Algeria', 'Andorra',…

### Análisis de datos de [Datos Abiertos](https://www.datos.gov.co/Salud-y-Protecci-n-Social/Casos-positivos-de-COVID-19-en-Colombia/gt2j-8ykr)

In [15]:
pip install --user sodapy

Collecting sodapy
  Using cached sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in c:\programfiles\lib\site-packages (from sodapy) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programfiles\lib\site-packages (from requests>=2.20.0->sodapy) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programfiles\lib\site-packages (from requests>=2.20.0->sodapy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programfiles\lib\site-packages (from requests>=2.20.0->sodapy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programfiles\lib\site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from sodapy import Socrata

api_token = r'2i1q8riwhl18w3bdeogeph7a0'
api_secretkey = r'54cvecvip76jrrpox1g9m4xcj2zqk0zw57vkf1cf2fixhnlqb8'

app_token = r'OpRCtKHXAFQJANoSy1aRfevWv'
app_token_secret = r'jsbkBmq1ybXiRWxQLfA1aVk8YFt8v3CuZV08'

client = Socrata('www.datos.gov.co',
                 app_token,
                 username="fabio.salinas@sbseguros.co",
                 password="Aadd4455+")

results = client.get("gt2j-8ykr", limit = 1000000)

df2 = pd.DataFrame.from_records(results)
print(df2.shape)
print('df Shape:', df2.shape)
print('df Info:', df2.info())
df2.head(5)

(1000000, 23)
df Shape: (1000000, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   fecha_reporte_web      1000000 non-null  object
 1   id_de_caso             1000000 non-null  object
 2   fecha_de_notificaci_n  1000000 non-null  object
 3   departamento           1000000 non-null  object
 4   departamento_nom       1000000 non-null  object
 5   ciudad_municipio       1000000 non-null  object
 6   ciudad_municipio_nom   1000000 non-null  object
 7   edad                   1000000 non-null  object
 8   unidad_medida          1000000 non-null  object
 9   sexo                   1000000 non-null  object
 10  fuente_tipo_contagio   1000000 non-null  object
 11  ubicacion              1000000 non-null  object
 12  estado                 1000000 non-null  object
 13  pais_viajo_1_cod       936 non-null      object
 14  pais_viajo_1_nom       935 non-null      object
 15  recuperado             1000000 non-null  object
 16  fecha_inicio_sintomas  872754 non-null   object
 17  fecha_diagnostico      995710 non-null   object
 18  fecha_recuperado       953184 non-null   object
 19  tipo_recuperacion      953184 non-null   object
 20  per_etn_               1000000 non-null  object
 21  nom_grupo_             16029 non-null    object
 22  fecha_muerte           34947 non-null    object
dtypes: object(23)
memory usage: 175.5+ MB
df Info: None

,fecha_reporte_web,id_de_caso,fecha_de_notificaci_n,departamento,departamento_nom,ciudad_municipio,ciudad_municipio_nom,edad,unidad_medida,sexo,...,pais_viajo_1_cod,pais_viajo_1_nom,recuperado,fecha_inicio_sintomas,fecha_diagnostico,fecha_recuperado,tipo_recuperacion,per_etn_,nom_grupo_,fecha_muerte
0,6/3/2020 0:00:00,1,2/3/2020 0:00:00,11,BOGOTA,11001,BOGOTA,19,1,F,...,380,ITALIA,Recuperado,27/2/2020 0:00:00,6/3/2020 0:00:00,13/3/2020 0:00:00,PCR,6,NaN,NaN
1,9/3/2020 0:00:00,2,6/3/2020 0:00:00,76,VALLE,76111,BUGA,34,1,M,...,724,ESPAÑA,Recuperado,4/3/2020 0:00:00,9/3/2020 0:00:00,19/3/2020 0:00:00,PCR,5,NaN,NaN
2,9/3/2020 0:00:00,3,7/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,50,1,F,...,724,ESPAÑA,Recuperado,29/2/2020 0:00:00,9/3/2020 0:00:00,15/3/2020 0:00:00,PCR,6,NaN,NaN
3,11/3/2020 0:00:00,4,9/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,55,1,M,...,NaN,NaN,Recuperado,6/3/2020 0:00:00,11/3/2020 0:00:00,26/3/2020 0:00:00,PCR,6,NaN,NaN
4,11/3/2020 0:00:00,5,9/3/2020 0:00:00,5,ANTIOQUIA,5001,MEDELLIN,25,1,M,...,NaN,NaN,Recuperado,8/3/2020 0:00:00,11/3/2020 0:00:00,23/3/2020 0:00:00,PCR,6,NaN,NaN

In [524]:
df2['fecha_de_notificaci_n'] = pd.to_datetime(df2['fecha_de_notificaci_n'], format = '%Y-%m-%d', errors = 'coerce')
df2['fis'] = pd.to_datetime(df2['fis'], format = '%Y-%m-%d', errors = 'coerce')
df2['fecha_de_muerte'] = pd.to_datetime(df2['fecha_de_muerte'], format = '%Y-%m-%d', errors = 'coerce')
df2['fecha_diagnostico'] = pd.to_datetime(df2['fecha_diagnostico'], format = '%Y-%m-%d', errors = 'coerce')
df2['fecha_recuperado'] = pd.to_datetime(df2['fecha_recuperado'], format = '%Y-%m-%d', errors = 'coerce')
df2['fecha_reporte_web'] = pd.to_datetime(df2['fecha_reporte_web'], format = '%Y-%m-%d', errors = 'coerce')

In [525]:
df2 = df2[~df2['pa_s_de_procedencia'].isin(['-   -'])]

In [526]:
df2 = df2.astype(
    {
        'ciudad_de_ubicaci_n': 'category',
        'departamento': 'category',
        'atenci_n': 'category',
        'edad': 'int16',
        'sexo': 'category',
        'tipo': 'category',
        'estado': 'category',
        'pa_s_de_procedencia': 'category'
    }
)

In [527]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7668 entries, 0 to 7707
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id_de_caso             7668 non-null   object
 1   fecha_de_notificaci_n  7668 non-null   datetime64[ns]
 2   codigo_divipola        7668 non-null   object
 3   ciudad_de_ubicaci_n    7668 non-null   category
 4   departamento           7668 non-null   category
 5   atenci_n               7668 non-null   category
 6   edad                   7668 non-null   int16
 7   sexo                   7668 non-null   category
 8   tipo                   7668 non-null   category
 9   estado                 7668 non-null   category
 10  pa_s_de_procedencia    7668 non-null   category
 11  fis                    6741 non-null   datetime64[ns]
 12  fecha_de_muerte        344 non-null    datetime64[ns]
 13  fecha_diagnostico      7668 non-null   datetime64[ns]
 14  fecha_recuperado       1722 non-null   datetime64[ns]
 15  fecha_reporte_web      7668 non-null   datetime64[ns]
dtypes: category(7), datetime64[ns](6), int16(1), object(2)
memory usage: 630.1+ KB

In [528]:
df_pais = df2['pa_s_de_procedencia'].value_counts().reset_index().rename(columns={'pa_s_de_procedencia':'n', 'index':'pa_s_de_procedencia'})
df_pais['pje'] = round((df_pais.n / df_pais.n.sum()) * 100,2)

print('Total de casos al {fec}: {n:,}'.format(fec = df2['fecha_reporte_web'].max(), n = df_pais.n.sum()))
df_pais.head(10)

Total de casos al 2020-05-03 00:00:00: 7,668

         pa_s_de_procedencia     n    pje
0                   Colombia  6850  89.33
1                     España   258   3.36
2  Estados Unidos de América   207   2.70
3                    Ecuador    47   0.61
4                     México    46   0.60
5                     Panamá    34   0.44
6                     Brasil    30   0.39
7                    Turquía    28   0.37
8                    Francia    16   0.21
9                    Jamaica    16   0.21

In [529]:
df2['Confirmado'] = 1
df2['Recuperado'] = [0 if x == True else 1 for x in df2['fecha_recuperado'].isna().tolist()]
df2['Muerto'] = [0 if x == True else 1 for x in df2['fecha_de_muerte'].isna().tolist()]
df2.describe()

              edad  Confirmado   Recuperado       Muerto
count  7668.000000      7668.0  7668.000000  7668.000000
mean     40.691967         1.0     0.224570     0.044862
std      18.625805         0.0     0.417326     0.207014
min       0.000000         1.0     0.000000     0.000000
25%      27.000000         1.0     0.000000     0.000000
50%      38.000000         1.0     0.000000     0.000000
75%      54.000000         1.0     0.000000     0.000000
max     103.000000         1.0     1.000000     1.000000

In [545]:
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go

ciudades = ['Todos']
ciudades += df2.ciudad_de_ubicaci_n.unique().tolist()
edades = ['Todos', '0,10', '11,20', '21,30', '31,40', '41,50', '51,60', '61,70', '71,80', '81,90', '91,100']

@interact(edad = edades, ciudad = ciudades)
def update(edad, ciudad):
    if ciudad != 'Todos':
        print(ciudad)
        dff = df2[df2.ciudad_de_ubicaci_n == ciudad]
    else:
        dff = df2
    if edad != 'Todos':
        print(edad)
        dff = dff[(dff['edad']>=int(edad.split(',')[0])) & (dff['edad']<=int(edad.split(',')[1]))]
    else:
        dff = df2
    
    print('Confirmados:\t {cnf:,}\nRecuperados:\t {rec:,} \t({prec}%)\nMuertos:\t {mue:,} \t({pmue}%)\nInfectados:\t {inf:,} \t({pinf}%)'.format(
        cnf = dff['Confirmado'].sum(),
        rec = dff['Recuperado'].sum(),
        prec = round(dff['Recuperado'].sum()/dff['Confirmado'].sum(),2)*100,
        mue = dff['Muerto'].sum(),
        pmue = round(dff['Muerto'].sum()/dff['Confirmado'].sum(),2)*100,
        inf = dff['Confirmado'].sum() - (dff['Muerto'].sum() + dff['Recuperado'].sum()),
        pinf = round((dff['Confirmado'].sum() - (dff['Muerto'].sum() + dff['Recuperado'].sum()))/dff['Confirmado'].sum(),2)*100
    ))
    
    fig = make_subplots(rows = 1, cols = 1, shared_xaxes = True)
    
    plotdf = dff.groupby('fecha_diagnostico', as_index=False).agg({'Confirmado':'sum', 'Recuperado': 'sum', 'Muerto': 'sum'})
    
    x = plotdf['fecha_diagnostico'].tolist()
    y1 = plotdf['Confirmado'].tolist()
    y2 = plotdf['Recuperado'].tolist()
    y3 = plotdf['Muerto'].tolist()
    
    fig.add_trace(go.Scatter(x = x, y = y1, name = "# Confirmados", mode='lines', connectgaps=True), row = 1, col = 1)
    fig.add_trace(go.Scatter(x = x, y = y3, name = "# Muertos", mode='lines', connectgaps=True), row = 1, col = 1)
    fig.add_trace(go.Scatter(x = x, y = y2, name = "# Recuperados", mode='lines', connectgaps=True), row = 1, col = 1)
    
    fig.show()

interactive(children=(Dropdown(description='edad', options=('Todos', '0,10', '11,20', '21,30', '31,40', '41,50…

In [493]:
dfgenero = df['sexo'].value_counts().reset_index().rename(columns={'sexo':'n', 'index':'Genero'})
dfgenero['pje'] = round(dfgenero.n / dfgenero.n.sum(),2)*100
dfgenero

  Genero     n   pje
0      M  4196  55.0
1      F  3468  45.0
2      f     3   0.0
3      m     1   0.0

In [547]:
df2.columns

Index(['id_de_caso', 'fecha_de_notificaci_n', 'codigo_divipola',
       'ciudad_de_ubicaci_n', 'departamento', 'atenci_n', 'edad', 'sexo',
       'tipo', 'estado', 'pa_s_de_procedencia', 'fis', 'fecha_de_muerte',
       'fecha_diagnostico', 'fecha_recuperado', 'fecha_reporte_web',
       'Confirmado', 'Recuperado', 'Muerto'],
      dtype='object')

In [550]:
df2.estado.value_counts()

Leve            5757
Asintomático     927
Moderado         486
Fallecido        340
Grave            122
leve              32
N/A                4
Name: estado, dtype: int64